*.log
target/
.idea/
node_modules/
.angular/
dist/
*.err
*.out
auth-service/
candidature-service/
discovery-server/
gateway-service/
messaging-service/
project-service/
user-service/
vacancy-service/
