SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/gestion_planing?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
SENTRY_DSN=https://your-key@o0.ingest.sentry.io/your-project-id
SENTRY_ENVIRONMENT=dev
SENTRY_RELEASE=gestion-planing-local
SENTRY_TRACES_SAMPLE_RATE=1.0
SERVER_PORT=8086
